<html>
    <head>
        {% load static %}
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <meta charset="UTF-8">
        <title>About page</title>
    </head>
    <body>
        <div class="p-3 mb-2 bg-warning text-dark">
        <h1 class ="text-center"> About us<h1>
        </div>
        <h4 class ="pl-5 bg-dark text-white">
            Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
        </h4>
        <div class="p-5 bg-white text-black">
        <h5 class ="text-center">Reasons why you should choose us</h5>
        <ul>
            <li> <p class ="pl-5 bg-white text-black">We help customers choose only the best cars</p></li>
            <li> <p class ="pl-5 bg-white text-black">We respect our customers</p></li>
            <li> <p class ="pl-5 bg-white text-black">Only professionals work in our company</p></li>
        </ul>
        </div>

    </body>
</html>