<html>
    <head>
        {% load static %}
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <meta charset="UTF-8">
        <title>About page</title>
    </head>
    <body>
        <div class="p-3 mb-2 bg-warning text-white">
            <h1 class ="text-center"> Contact Us<h1>
        </div>
        <div class="p-5 bg-white text-black">
        <h5 class ="text-center">Our contacts:</h5>
        <ul>
            <li> <p class ="pl-5 bg-white text-black">Email: <b>bestcars_info@gmail.com</b></p></li>
            <li> <p class ="pl-5 bg-white text-black">Number: <b>+1 123-456-7891</b></p></li>
            <li> <p class ="pl-5 bg-white text-black">Adress: <b>USA, Illinois, Chicago, Cicero Ave, 7734</b></p></li>
        </ul>
        </div>

    </body>
</html>